{{set . "title" .header.Title}}
{{set . "lead" "hogehoge"}}
{{template "header.html" .}}

<header class="hero-unit">
  <div class="container">
    <div class="row">
      <div class="hero-text">
          <h1>{{.header.Title}}</h1>
        <p>{{.lead}}</p>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
  {{template "flash.html" .}}
  </div>
</div>

<div class="container">
  <div class="row">
    <form action="/App/Hello" method="GET">
      {{with $field := field "myName" .}}
      <div class="form-group">
        <label class="control-label" for="myName">Input myName</label>
        <div class="input-group">
          <input type="text" class="form-control" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="input message">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">hey!</button>
          </span>
        </div>
      </div><!-- /form-group -->
      {{end}}
    </form>
  </div>
</div>

{{template "footer.html" .}}
